<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.mybatis.dao.FilteredPlaceMapper">
  <resultMap id="fpResultMap" type="main.mybatis.dto.FilteredPlace">
    <id column="index" jdbcType="INTEGER" property="index" />
    <result column="placeid" jdbcType="BIGINT" property="placeid" />
    <result column="placename" jdbcType="VARCHAR" property="placename" />
  </resultMap>
  
  
  <insert id="insertFP" parameterType="main.mybatis.dto.FilteredPlace">
    INSERT INTO filteredplaces (placeid,placename)
    VALUES (#{placeid},#{placename})
  </insert>
  
  <select id="findAllPlace" resultType="hashmap">
    SELECT index, placeid, placename
    FROM filteredplaces
    ORDER BY index
  </select>
  
  
 
</mapper>