<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.mybatis.dao.ReviewMapper">
  <resultMap id="ReviewResultMap" type="main.mybatis.dto.Review">
    <id column="review_id" jdbcType="VARCHAR" property="reviewId" />
    <result column="place_id" jdbcType="VARCHAR" property="placeId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="review" jdbcType="VARCHAR" property="review" />
    <result column="score" jdbcType="REAL" property="score" />
    <result column="review_date" jdbcType="DATE" property="reviewDate" />
  </resultMap>

  <insert id="insertReview" parameterType="main.mybatis.dto.Review">
    insert into reviews (review_id, place_id,
      user_id, review, score, review_date
    )
    values (#{reviewId}, #{placeId},
      #{userId}, #{review}, #{score}, #{reviewDate}
    )
  </insert>
  
  <select id="findReviewByReviewId" parameterType="String" resultMap="ReviewResultMap">
    SELECT *
    FROM reviews
    WHERE review_id LIKE '#{reviewId}'
  </select>

  <select id="findReviewByuserId" parameterType="String" resultMap="ReviewResultMap">
    SELECT *
    FROM reviews
    WHERE user_id LIKE '#{userId}'
  </select>


</mapper>